*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ol, ul, li {
    list-style: none;
}
.container{
    
}

/* education: begin */
.education{
    background-color: black;
    color: white;
    font-size: 18px;
    min-height: 800px;
    display: flex;

}

.education .container {
    display: flex;
    justify-content: space-between;
}

.education .container .box{
    width: 50%;
    height: auto;
    min-height: 200px;

}

.education .item-skill{

}
/* education: end */